.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;
  padding: 1em 1.25em;
  border-radius: var(--radius);
  font-weight: bold;
  font-size: var(--fs-200);
  transition: all var(--transition-easing) var(--transition-duration);
}

.primary {
  background-color: var(--clr-electric-purple);
  color: var(--clr-light-periwinkle);

  &:hover {
    background-color: #c75af6;
  }
}

.destructive {
  background-color: var(--clr-red);
  color: var(--clr-light-periwinkle);

  &:hover {
    background-color: #e98888;
  }
}

.secondary {
  background-color: var(--clr-deep-slate-blue);
  color: var(--clr-light-periwinkle);

  &:hover {
    background-color: #656ea3;
  }
}

.tertiary {
  background-color: var(--clr-vibrant-blue);
  color: var(--clr-light-periwinkle);

  &:hover {
    background-color: #7c91f9;
  }
}
