.form {
  display: grid;
  gap: 1.5rem;
}

.form__item {
  display: grid;
}

.form__label {
  color: var(--clr-deep-slate-blue);
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  justify-self: start;

  @media (max-width: 480px) {
    font-size: var(--fs-100);
  }
}

.form__field-error {
  font-size: var(--fs-200);
  color: var(--clr-red);

  @media (max-width: 480px) {
    font-size: var(--fs-100);
  }
}

.form__description {
  font-size: var(--fs-200);

  @media (max-width: 480px) {
    font-size: var(--fs-100);
  }
}

.form__error-alert {
  background-color: #fff0f0;
  padding: 1em;
  border-radius: var(--radius);

  & p {
    color: #e60000;
    font-size: var(--fs-300);
  }
}

.form__input {
  height: 48px;
  padding-inline: 1.5em;

  @media (max-width: 480px) {
    padding-inline: 1.2em;
  }
}

.form__input,
.form__textarea {
  --shadow-clr: var(--clr-vibrant-blue);

  background-color: var(--clr-whisper-white);
  border-radius: 5px;
  color: var(--clr-deep-slate-blue);
  caret-color: var(--clr-deep-slate-blue);
  border: none;
  outline: none;
  transition: var(--transition-duration) var(--transition-easing);
  font-size: var(--fs-100);

  @media (min-width: 480px) {
    font-size: var(--fs-300);
  }
}

.form__input[data-state="invalid"],
.form__textarea[data-state="invalid"] {
  --shadow-clr: var(--clr-red);
  box-shadow: 0 0 0 1px var(--shadow-clr);
}

.form__input:focus,
.form__textarea:focus {
  box-shadow: 0 0 0 1px var(--shadow-clr);
}

::placeholder {
  font-size: 15px;
  color: #8c92b3;

  @media (max-width: 480px) {
    font-size: 13px;
  }
}

.form__textarea {
  padding: 1em 1.5em;
  height: 96px;
  resize: none;

  @media (max-width: 480px) {
    padding: 1em 1.2em;
  }
}
