.skeleton {
  background-color: var(--clr-pure-white);
  border-radius: var(--radius);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
