.empty-suggestions {
  background-color: var(--clr-pure-white);
  border-radius: var(--radius);
  display: grid;
  text-align: center;
  place-content: center;
  place-items: center;

  padding: 1em 1.5em;

  p {
    max-width: 410px;
    margin: 0.3em auto 1.5em;
  }

  h2 {
    margin-top: 1.25em;
  }

  @media (max-width: 480px) {
    h2 {
      font-size: var(--fs-500);
      line-height: 1.63;
      letter-spacing: -0.25px;
    }

    p {
      font-size: var(--fs-100);
    }
  }
}
