.card {
  border-radius: var(--radius);
  padding: 1.5em;
  color: var(--clr-pure-white);
  background: var(--radial-gradient);
  display: grid;
  min-height: 137px;

  h1 {
    margin-top: auto;
  }

  span {
    display: block;
  }
}
