:root {
  --clr-electric-purple: #ad1fea;
  --clr-vibrant-blue: #4661e6;
  --clr-pure-white: #ffffff;
  --clr-light-periwinkle: #f2f4ff;
  --clr-whisper-white: #f7f8fd;
  --clr-deep-slate-blue: #3a4374;
  --clr-dusty-blue: #647196;
  --clr-soft-coral: #f49f85;
  --clr-bright-sky-blue: #62bcfa;
  --clr-red: #d73737;
  --clr-border: #ece7e7;
  --radial-gradient: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    var(--clr-soft-coral) 0%,
    var(--clr-electric-purple) 53.09%,
    var(--clr-vibrant-blue) 100%
  );

  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.9375rem;
  --fs-200: 0.875rem;
  --fs-100: 0.8125rem;

  --ff: "Jost", serif;

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-semibold: 600;

  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --transition-duration: 200ms;

  --radius: 10px;
  --radius-sm: 5px;
}

/* CSS Resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
menu {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  background-color: var(--clr-whisper-white);
  color: var(--clr-dusty-blue);
  line-height: 1.4375;
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
  line-height: 2.18;
  letter-spacing: -0.33px;
}

.h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  line-height: 1.8;
  letter-spacing: -0.25px;
}

.h3 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: 1.63;
  letter-spacing: -0.25px;
}

.h4 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  line-height: 1.25;
  letter-spacing: -0.2px;
}

.body-2 {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  line-height: 1.375;
}

.body-3 {
  font-size: var(--fs-100);
  font-weight: var(--fw-semibold);
  line-height: 1.1875;
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-semibold {
  font-weight: var(--fw-semibold);
}
