.create-feedback-form__input {
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

.create-feedback-form__label {
  font-weight: var(--fw-bold);
}

.create-feedback-form__select {
  width: 100%;
  padding-inline: 1.2em;
  background-color: var(--clr-whisper-white);
  border-radius: 5px;
  height: 48px;
  color: var(--clr-deep-slate-blue);
  font-size: var(--fs-100);

  @media (min-width: 480px) {
    font-size: var(--fs-300);
    padding-inline: 1.5em;
  }
}

.create-feedback-form__select:focus {
  box-shadow: 0 0 0 1px var(--clr-vibrant-blue);
}

.create-feedback-form__button {
  margin-top: 1em;
}
