.roadmap-board-column {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.roadmap-board-column__list {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr;
  gap: 1em;
}

.roadmap-board-column__title {
  font-weight: var(--fw-bold);
  color: var(--clr-deep-slate-blue);
  font-size: var(--fs-500);

  @media (min-width: 480px) and (max-width: 1024px) {
    font-size: var(--fs-200);
  }
}

.roadmap-board-column__desc {
  font-size: var(--fs-100);

  @media (min-width: 480px) {
    font-size: var(--fs-200);
  }

  @media (min-width: 1024px) {
    font-size: var(--fs-400);
  }
}
